include ./../researchAndpacking/researchAndpacking
section.specializaton
	.bgr_purple
	.content
		.row
			h2.white Наши работы, на которых<br> мы специализируемся
			a.blueButton Все услуги
		.spec_items
			+research("./img/spec.svg")
			+research("./img/spec.svg")
			+research("./img/spec.svg")
