<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	include ./src/components/header/header
	include ./src/components/mobApps/mobApps
	include ./src/components/devstandards/devstandards
	include ./src/components/spec/spec
	include ./src/components/ourprojects/ourprojects
	include ./src/components/subscription/subscription
	