mixin research(imgpath)
	.spec_items__item.research_block
		img(src=""+imgpath, alt="")
		h3
			span 01. 
			| Исследование и упаковка
		p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
		a.underline Подробнее
