section.mobApps
	h2 Мы создаем мобильные приложения<br> для крупных корпораций
	| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem <br> Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
	.siteDev
		.siteDev_item
			.project
			.name
				h3 Создание сайтов
				.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
		.siteDev_item
			.project
			.name
				h3 Создание сайтов
				.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
		.siteDev_item
			.project
			.name
				h3 Создание сайтов
				.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
	a.blueButton Все услуги