section.our_projects
	h2 Наши проекты
	| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem<br> Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
	.imgs
		img(src="./img/ourprojects.svg", alt="")
		img(src="./img/ourprojects.svg", alt="")
		img(src="./img/ourprojects.svg", alt="")
		img(src="./img/ourprojects.svg", alt="")
	a.blueButton Все проекты
