section.subscription
	.subscription_bgr
	.video
		h2.white Видео о нашей работе
		| Просто посмотрите, как мы работаем
		.videoplayer
			.preview
			video(src="./video/video.webm" type="./video/mp4")
			include ./../videocontrols/videocontrols
