section.subscription
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	position: relative
	color: white
	.subscription_bgr
		display: block
		position: absolute
		background: center no-repeat url('./img/subs_bgr.svg')
		width: 100%
		height: 570px
		top: 0px
		z-index: -1
	.video
		h2.white
		video