section.devstandards
	.content
		.text
			h2 Высокие стандарты разработки
			| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. стандартной "рыбой" для текстов на латинице с начала XVI века.
			a(href="#") Подробнее о компании
		img(src="./img/devstandards.svg", alt="")
	.projects
		.projects_item
			.row
				img(src="./img/web_programming.svg", alt="")
				h2 125
			| Our projects
		.projects_item
			.row
				img(src="./img/web_programming.svg", alt="")
				h2 125
			| Our projects
		.projects_item
			.row
				img(src="./img/web_programming.svg", alt="")
				h2 125
			| Our projects
		.projects_item
			.row
				img(src="./img/web_programming.svg", alt="")
				h2 125
			| Our projects
		.projects_item
			.row
				img(src="./img/web_programming.svg", alt="")
				h2 125
			| Our projects