header
	nav
		ul
			li
				a(href="#") Главная
			li 
				a(href="#") Наши проекты
			li
				a(href="#") Услуги 
			li
				a(href="#") Новости
			li
				a(href="#") Контакты
	.header_content
		span Передовая IT студия
		h1 Мы создаем легкие решения 
			br
			| сложных задач и проблем
		a.blueButton Наши проекты