header
	height: 900px
	background: url('./img/headerBGR.svg')
	background-size: cover
	color: #fff
	line-height: 20px
	nav
		border-bottom: 1px solid rgba(161, 161, 161, 0.5)
		ul
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: flex-end
			flex-wrap: wrap
			padding-right: 21%
			
			li
				height: 100px
				padding: 0px 20px
				&:hover
					border-bottom: 2px solid white
				a
					display: block
					height: 100%
					width: 100%
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: center
					
	.header_content
		text-align: center
		margin-top: 220px
		h1
			margin-top: 20px
		a
			margin-top: 50px

					
					
