footer
	.container.border_bottom
		.column
			h3 Контактная информация
			nav.contact_info
				ul
					li
						a(href="#") test@test.ru
					li
						a(href="#") +8 777 555 66 99
					li
						a(href="#") Москва, Бульвар Ленина 33
		.column
			h3 Основные ссылки
			nav.links
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Наши проекты
					li
						a(href="#") Наши услуги
					li
						a(href="#") Контакты
		.column
			h3 Наши проекты
			nav.projects
				ul
					li
						a(href="#") РосНано
					li
						a(href="#") Сколково
					li
						a(href="#") Проект восток
					li
						a(href="#") ТЭЦ Калининграда
		.column
			h3 Социальные сети
			nav.social
				ul
					li
						a(href="#") VK.com
					li
						a(href="#") Instagram
					li
						a(href="#") Facebook
					li
						a(href="#") Twitter
	span (с) 2019. Все права защищены.